{% extends "navbar.html" %}
{% load static %}
{% block content %}
      <section class="section profile">
      <div class="row">
         <div class="col-8 mb-3">
            <a href="{% url 'webhook:create_webhook' %}" class='btn btn-success'>+ Add webhook</a>
        </div>
        <div class="col-xl-10 mx-auto">
       
          <div class="row">
            <div class="card">
              <div id="webhook-list" class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                {% include 'webhook/partials/webhooks.html' %}  

              </div>
            </div>
          </div>
     
        </div>

       
    </section>
{% endblock %}