{% extends "navbar.html" %}
{% load static %}
{% block content %}

    <section class="section profile">
    {% if not request.user.is_authenticated  %}
    <div class="alert alert-info" ><h5>This is a simulation.  Json messages with fake data will populate every 10 seconds.  Click on the json message to view.</h5></div>
    {% endif %}
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-4">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-12 col-md-12">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Webhooks</h5>
                  {% if request.user.is_authenticated %}
                  <div class="d-flex align-items-center" id="webhooks" hx-target="#webhooks" hx-get="{% url 'webhook:get_payloads' key %}" hx-trigger="every 10s" hx-swap="innerHTML">
                  {% else %}
                  <div class="d-flex align-items-center" id="webhooks" hx-target="#webhooks" hx-get="{% url 'webhook:simulate_payloads'%}" hx-trigger="every 10s" hx-swap="afterend">
                  {% endif %}
                   {% include 'webhook/partials/payloads.html' with payloads=payloads%}
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

           
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-8">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Data</h5>

              <div class="activity" id="data">
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>    
   

    </secton>
{% endblock %}