
 {% include 'head.html' %}

{% block content %}
 <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
           <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Forgot your password?</h5>
                    <p class="text-center small">Please enter your email address and we will send you a link to reset your password.</p>
                  </div>

                  <form class="row g-3 needs-validation" method="POST" action="{% url 'users:forgot_password' %}" novalidate>
                    {% csrf_token %}
                    
                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        
                        <input type="email" name="email" class="form-control" id="email" required>
                        <div class="invalid-feedback">Please enter your email.</div>
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Send Link</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="col-12">
                      <a class="btn btn-danger w-100"  href="{% url 'core:index' %}">Go Back</a>
                    </div>
                    
                  </form>

                </div>
              </div>


            </div>
          </div>
          </div>
        </div>

      </section>
{% endblock %}

{% include 'footer.html' %}