
 {% include 'head.html' %}

{% block content %}
 <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
              {% include 'partials/messages.html' %}
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create New Password</h5>
                    <p class="text-center small"></p>
                  </div>

                  <form class="row g-3 needs-validation" method="POST" action="{% url 'users:reset_password' uidb64=uidb64 token=token %}" novalidate>
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                      <label for="new_password" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new_password" type="password" class="form-control" id="new_password">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="confirm_password" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="confirm_password" type="password" class="form-control" id="confirm_password">
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="hidden" name="uidb64" value="{{ uidb64 }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="col-12">
                      <a class="btn btn-danger w-100"  href="{% url 'core:index' %}">Go Back</a>
                    </div>
                    
                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>
{% endblock %}

{% include 'footer.html' %}